<?xml version='1.0' encoding='utf-8'?>
<widget
    id="tabris.prototype"
    version="1.0.0"
    xmlns:gap="http://phonegap.com/ns/1.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
 
    <name>Tabris Prototype App</name>
    <description>
        First Prototype for an app supporting a server-client communication
    </description>
    <author email="me@me.com" href="http://www.me.me">
        Me
    </author>
	<gap:plugin>cordova-plugin-bluetoothle</gap:plugin>
	<gap:plugin>cordova-plugin-bluetooth-serial</gap:plugin>
	<gap:plugin>cordova-plugin-ble-central</gap:plugin>
 
    <access origin="*" />
 
    <preference name="EnableDeveloperConsole" value="true"/>
</widget>